.App {
    background: url('/images/bg1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-left: 2%;
    padding-right: 2%;
  }
  